{% extends 'base.html.twig' %}

{% block title %}New SellerRequests{% endblock %}

{% block body %}
    <h1>Create new SellerRequests</h1>

    {{ include('seller_requests/_form.html.twig') }}
{% endblock %}
