{% extends 'base.html.twig' %}

{% block title %}Доставка еды{% endblock %}



{% block body %}
    <div class="container">
        <h2>Поиск продуктов</h2>
        <form action="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Найти" name="query">
            </div>
            <button type="submit" class="btn btn-default">Найти</button>
        </form>
    </div>

    {{ dump(products) }}
{% endblock %}
