<div class="modal" role="dialog" id="shopping-cart"><div class="modal-dialog" role="document">
    <div class="modal-content card" tabindex="-1">
        <div class="card-header bg-dark text-light">
            Корзина
        </div>
        <div class="card-body" id="shopping-cart_list">
        </div>
        <div class="card-footer">
            <div class="pull-right" style="margin: 10px">
                <div class="pull-right" style="margin: 5px">
                    Стоимость: <b id="shopping-cart_total">0.00</b> P
                </div>
                <button class="btn btn-success" id="shopping-cart_clear">Очистить корзину</button>
                <a href="" class="btn btn-success pull-right">Оформить заказ</a>
            </div>
        </div>
    </div>
</div></div>