{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>

    {{ include('account/product/_form.html.twig', {'button_label': 'Изменить'}) }}

    <a href="{{ path('seller_product_list') }}">back to list</a>

    {{ include('account/product/_delete_form.html.twig') }}
{% endblock %}
